<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/leaderboard.css')}}" />
    <title>Expanding Sidebar Navigation Example</title>
  </head>
  <body>
    <div class="container">
      {% include 'menu/sidebar.html' %}
      <section class="main">
        {% include 'menu/navbar.html' %}    
        <div class="main-content">
                <h1>Leaderboard</h1>
                
                <div class="leaderboard-container">
                  <div class="leaderboard-table">
                    <h2>MMR</h2>
                    <br>
                    <table>
                      <thead>
                        <tr>
                          <th>Peringkat</th>
                          <th>Nama</th>
                          <th>MMR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>sᴇɴᴘᴀɪ_ɢɪʀʟ</td>
                          <td>5328</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>ᴶᵃⁿᵍᵃⁿᴄᴇᴍʙᴜʀᴜᴮᵒˢツ</td>
                          <td>5265</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>༺♛i•๖ۣۜƤriͥภcͣeͫssツ</td>
                          <td>5221</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>EmakLuGaming</td>
                          <td>5119</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Ἤιπα†α☆</td>
                          <td>5019</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>⸙Ɖἔмὄᾗ⸙</td>
                          <td>4992</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>Lili</td>
                          <td>4979</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>Limit.마귀</td>
                          <td>4899</td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>Proxy Æ</td>
                          <td>4772</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>T-T_Loli_T-T</td>
                          <td>4354</td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td>Bama. Boy</td>
                          <td>4101</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>kirishima GPS</td>
                          <td>4013</td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td>нєхαραтн</td>
                          <td>3999</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>вαⓖнєєяαツ</td>
                          <td>3923</td>
                        </tr>
                        <tr>
                          <td>15</td>
                          <td>OhDeerMommy</td>
                          <td>3873</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>pumpkin°</td>
                          <td>3743</td>
                          </tr>
                          <tr>
                          <td>17</td>
                          <td>®{MORITA✓</td>
                          <td>3375</td>
                          </tr>
                          <tr>
                          <td>18</td>
                          <td>ĐⱤØ₲₳₮Ʉ’</td>
                          <td>2976</td>
                          </tr>
                          <tr>
                          <td>19</td>
                          <td>Kιllεя_ЯÐÐ</td>
                          <td>2765</td>
                          </tr>
                          <tr>
                          <td>20</td>
                          <td>•Marieee••</td>
                          <td>2354</td>
                          </tr>
                          <tr>
                          <td>21</td>
                          <td>B E T A ミ</td>
                          <td>2043</td>
                          </tr>
                          <tr>
                          <td>22</td>
                          <td>1+8=18+xnxx</td>
                          <td>2001</td>
                          </tr>
                          <tr>
                          <td>23</td>
                          <td>ÐɑʀҟƑîʀɛ</td>
                          <td>1932</td>
                          </tr>
                          <tr>
                          <td>24</td>
                          <td>ᴘᴜɴʏᴇ†ᴀ</td>
                          <td>1754</td>
                          </tr>
                          <tr>
                          <td>25</td>
                          <td>D̶a̶n̶iel:)(^.^)</td>
                          <td>1645</td>
                          </tr>
                          <tr>
                          <td>26</td>
                          <td>•RIOTS_1933✓</td>
                          <td>1432</td>
                          </tr>
                          <tr>
                          <td>27</td>
                          <td>ゔぃた</td>
                          <td>1356</td>
                          </tr>
                          <tr>
                          <td>28</td>
                          <td>҂Տkyzo</td>
                          <td>1134</td>
                          </tr>
                          <tr>
                          <td>29</td>
                          <td>Žxxťřââ</td>
                          <td>1003</td>
                          </tr>
                          <tr>
                          <td>30</td>
                          <td>pumpkin°</td>
                          <td>808</td>
                          </tr>
                            </tbody>
                          </table>
                    
                    </table>
                  </div>
                  
                  <div class="leaderboard-table">
                    <h2>Youtubers</h2>
                    <br>
                    <table>
                      <thead>
                        <tr>
                          <th>Peringkat</th>
                          <th>Nama Channel YT</th>
                          <th>Subscriber</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>PrinceSeven[Aking]</td>
                          <td>11087</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>JavaGameLand</td>
                          <td>10023</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>AnakkostVlog</td>
                          <td>9653</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>LaboredVideos</td>
                          <td>9453</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Blasteran Lokal</td>
                          <td>9234</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>The Burrow</td>
                          <td>8954</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>GoGameBrigade</td>
                          <td>8653</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>GameSpy.</td>
                          <td>8498</td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>RR Gaming</td>
                          <td>8267</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>DM Game On!</td>
                          <td>8002</td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td>CDHT ONFIRE</td>
                          <td>7850</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>Frontal Gaming</td>
                          <td>7657</td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td>Wawan MKS</td>
                          <td>7342</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>Aura Esport^</td>
                          <td>7159</td>
                        </tr>
                        <tr>
                          <td>15</td>
                          <td>Suka Main Game*</td>
                          <td>6965</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>1234SAVEGE!°</td>
                          <td>6453</td>
                        </tr>
                        <tr>
                          <td>17</td>
                          <td>Pelayaran game</td>
                          <td>6259</td>
                        </tr>
                        <tr>
                          <td>18</td>
                          <td>Chanel Game NJL--</td>
                          <td>6098</td>
                        </tr>
                        <tr>
                          <td>19</td>
                          <td>EvilGame</td>
                          <td>5976</td>
                        </tr>
                        <tr>
                          <td>20</td>
                          <td>Wawa Gaming Go</td>
                          <td>5723</td>
                        </tr>
                        <tr>
                          <td>21</td>
                          <td>2333YT</td>
                          <td>5534</td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td>Trolobos AE YT</td>
                          <td>4657</td>
                        </tr>
                        <tr>
                          <td>23</td>
                          <td>Tukang YT ^^</td>
                          <td>4264</td>
                        </tr>
                        <tr>
                          <td>24</td>
                          <td>Kayes Esport</td>
                          <td>3928</td>
                        </tr>
                        <tr>
                          <td>25</td>
                          <td>Dea Atfara</td>
                          <td>3876</td>
                        </tr>
                        <tr>
                          <td>26</td>
                          <td>Farel Geming</td>
                          <td>2983</td>
                        </tr>
                        <tr>
                          <td>27</td>
                          <td>Prasodjo Gaming Horor</td>
                          <td>2543</td>
                        </tr>
                        <tr>
                          <td>28</td>
                          <td>VLOG TO GAMING 32</td>
                          <td>1134</td>
                        </tr>
                        <tr>
                          <td>29</td>
                          <td>PIMPOM Games</td>
                          <td>1003</td>
                        </tr>
                        <tr>
                          <td>30</td>
                          <td>Teletubes GO!!</td>
                          <td>808</td>
                        </tr>
                      </tbody>
                    </table>                    
                  </div>
                  
                  <div class="leaderboard-table">
                    <h2>UTBK</h2>
                    <br>
                    <table>
                      <thead>
                        <tr>
                          <th>Peringkat</th>
                          <th>Nama</th>
                          <th>Skor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Asep Setiawan</td>
                          <td>953</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Udin Prasetyo</td>
                          <td>937</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Rini Susanti</td>
                          <td>901</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Budi Santoso</td>
                          <td>880</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Dian Kusuma</td>
                          <td>865</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Rina Fitriani</td>
                          <td>852</td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>Ahmad Hidayat</td>
                          <td>831</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>Siti Rahayu</td>
                          <td>812</td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>Joko Santoso</td>
                          <td>791</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>Nia Wulandari</td>
                          <td>768</td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td>Rudi Hartono</td>
                          <td>743</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>Maya Sari</td>
                          <td>717</td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td>Surya Nugraha</td>
                          <td>690</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>Desi Purnama</td>
                          <td>662</td>
                        </tr>
                        <tr>
                          <td>15</td>
                          <td>Indra Wijaya</td>
                          <td>633</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>Yuniarti Dewi</td>
                          <td>603</td>
                        </tr>
                        <tr>
                          <td>17</td>
                          <td>Faisal Rachman</td>
                          <td>572</td>
                        </tr>
                        <tr>
                          <td>18</td>
                          <td>Novi Utami</td>
                          <td>540</td>
                        </tr>
                        <tr>
                          <tr>
                            <td>19</td>
                            <td>Wahyu Prasetyo</td>
                            <td>507</td>
                          </tr>
                          <tr>
                            <td>20</td>
                            <td>Ayu Lestari</td>
                            <td>473</td>
                          </tr>
                          <tr>
                            <td>21</td>
                            <td>Rahmat Hidayat</td>
                            <td>438</td>
                          </tr>
                          <tr>
                            <td>22</td>
                            <td>Fitri Susanti</td>
                            <td>402</td>
                          </tr>
                          <tr>
                            <td>23</td>
                            <td>Hendro Wijaya</td>
                            <td>365</td>
                          </tr>
                          <tr>
                            <td>24</td>
                            <td>Yuni Rahayu</td>
                            <td>327</td>
                          </tr>
                          <tr>
                            <td>25</td>
                            <td>Arif Suryanto</td>
                            <td>288</td>
                          </tr>
                          <tr>
                            <td>26</td>
                            <td>Rina Fitriani</td>
                            <td>248</td>
                          </tr>
                          <tr>
                            <td>27</td>
                            <td>Rudi Setiawan</td>
                            <td>207</td>
                          </tr>
                          <tr>
                            <td>28</td>
                            <td>Maya Wulandari</td>
                            <td>165</td>
                          </tr>
                          <tr>
                            <td>29</td>
                            <td>Surya Hartono</td>
                            <td>122</td>
                          </tr>
                          <tr>
                            <td>30</td>
                            <td>Desi Purnama</td>
                            <td>78</td>
                          </tr>
                        </tbody>
                      </table>                      
                  </div>
                </div>            
        </div>
      </section>
    </div>
  </body>
  <script src="{{url_for('static' , filename='js/script.js')}}"></script>

</html>
