<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}" />
    <title>Expanding Sidebar Navigation Example</title>
  </head>
  <body>
    <div class="container">
      {% include 'menu/sidebar.html' %}
      <section class="main">
        {% include 'menu/navbar.html' %}    
        <div class="main-content">
            <br>
            <h1>Berita Terbaru Seputar Games</h1>
            <div class="news-container">
                <div class="news">
                  <div class="news-content">
                    <h2>ASUS Republic of Gamers dan MOONTON Jalin 2 Tahun Kerjasama untuk Mobile Gaming </h2>
                    <p>Tanggal: 2 Juni 2023</p>
                    <p>ASUS Republic of Gamers (ROG) hari ini telah menandatangani kerjasama dua tahun dengan pengembang dan penerbit game internasional MOONTON Games, sebuah langkah yang bertujuan untuk meningkatkan pengalaman bermain game pengguna di seluruh dunia dan mengoptimalkan kinerja seri ROG Phone untuk penggunaan turnamen.
                      Tim ROG Phone telah bekerja sama dengan MOONTON sejak 2022 untuk Malaysia Professional League. Membangun kepercayaan yang dibangun sepanjang tahun, kami mempertahankan momentum kami dan sekarang berkembang melampaui batas regional ke skala global. Ekspansi ini mencakup empat turnamen esports internasional Mobile Legends: Bang Bang: Piala Asia Tenggara 2023 dan 2024, serta Kejuaraan Dunia M-Series M5 dan M6. Kerjasama ini bertujuan untuk meningkatkan esports, memberikan konten tingkat atas kepada para gamer dan pengalaman memenangkan permainan.
                    <a href="https://www.ligagame.tv/tech-gadget/asus-republic-of-gamers-dan-moonton-jalin-2-tahun-kerjasama-untuk-mobile-gaming">baca selengkapnya...</a>
                    </p>
                  </div>
                </div>
                
                <div class="news">
                  <div class="news-content">
                    <h2>N0tail dan Ceb Pertanyakan Valve Masih Bungkam Soal Kualifikasi Last Chance Qualifier TI12</h2>
                    <p>Tanggal: 2 Juni 2023</p>
                    <p>The International 12 (TI12) semakin dekat, belum ada pengumuman Kualifikasi Last Chance Qualifier (LCQ) oleh Valve, event yang berlangsung tepat sebelum TI11, kesempatan terakhir untuk lolos ke acara tersebut.

                      LCQ mendapat sambutan positif dari para penggemar, di mana dua pemenang, Team Secret dan Team Liquid, masing-masing menempati posisi ke-2 dan ke-3 di TI11.
                      Dalam episode baru-baru ini dari Podcast Monkey Business, Johan "N0tail" Sundstein dan Sébastien "Ceb" Debs membahas ketidakhadiran LCQ, berharap akan ada keributan.
                      
                      Dalam episode baru-baru ini dari Podcast OG Monkey Business, Johan "N0tail" Sundstein dan Sébastien "Ceb" Debs menyelidiki diskusi tentang tidak adanya Kualifikasi Peluang Terakhir untuk The International 12 (TI12). Sementara ketidakpastian membayangi, kedua pemain berspekulasi bahwa Valve mungkin tidak memasukkan kualifikasi tahun ini karena tidak ada pengumuman resmi yang dibuat. Ucapan mereka menyentuh harapan mereka untuk sedikit pemberontakan penggemar, mengungkapkan kekecewaan atas pembatalan tahap turnamen penting ini.
                    <a href="https://www.ligagame.tv/dota-2/n0tail-dan-ceb-pertanyakan-valve-masih-bungkam-soal-kualifikasi-last-chance-qualifier-ti12">baca selengkapnya..</a>
                    </p>
                  </div>
                </div>

                <div class="news">
                  <div class="news-content">
                    <h2>Ana Comeback? Joki TI Gabung ke Tim Mana Jelang The International 12?</h2>
                    <p>Tanggal: 3 Juni 2023</p>
                    <p>Anathan "ana" Pham dipuji sebagai salah satu pemain terbaik yang pernah bermain Dota 2. Bersama tim OG, ia berhasil mengoleksi dua Aegis The International. 
                      Sempat lama istirahat dan pensiun dari Dota 2, pemain asal Australia dikabarkan kembali ke lanskap kompetitif. Sekali lagi, di DPC musim ketiga atai musim panas menuju The International dimulai.
                    <a href="https://www.ligagame.tv/dota-2/ana-comeback-joki-ti-gabung-ke-tim-mana-jelang-the-international-12">baca selengkapnya..</a></p>
                  </div>
                </div>

                <div class="news">
                  <div class="news-content">
                    <h2>Valve Umumkan The International 12 (TI12) Digelar di Seattle USA</h2>
                    <p>Tanggal: 3 juni 2023</p>
                    <p>Valve akhirnya resmi mengumumkan lokasi dan jadwal The International 12 (TI12). Kejuaraan dunia Dota 2 tahun ini akan digelar di Climate Pledge Arena, Seattle, AS pada Oktober 2023. Terakhir kali Valve mengadakan TI di Seattle adalah pada tahun 2017 ketika Team Liquid mengalahkan Newbee untuk menjadi grand champion.
                      <a href="https://www.ligagame.tv/dota-2/valve-umumkan-the-international-12-ti12-digelar-di-seattle-usa">baca selengkapnya..</a>
                    </p>
                  </div>
                </div>

                <div class="news">
                  <div class="news-content">
                    <h2>Taiga Ungkap Penyebab Dirinya Absen dari OG: Lelah dan Depresi!</h2>
                    <p>Tanggal: 3 juni 2023</p>
                    <p>OG telah berkompetisi di Dota 2 Pro Circuit (DPC) Eropa Barat (WEU) 2023 Tour 3: Divisi I tanpa pemain posisinya 4, Tommy "Taiga" Lee.
                      Sebaliknya, tim telah bersaing dengan Adam "Aramis" Moroz sebagai pemain pengganti selama 3 pertandingan terakhir, membuat para penggemar berspekulasi tentang ketidakhadirannya.
                    <a href="https://www.ligagame.tv/dota-2/taiga-ungkap-penyebab-dirinya-absen-dari-og-lelah-dan-depresi">baca selengkapnya</a></p>
                  </div>
                </div>

                <div class="news">
                  <div class="news-content">
                    <h2>Moon dan Poloson Resmi Tinggalkan Team SMG, Siapa Pengganti?</h2>
                    <p>Tanggal: 3 Juni 2023</p>
                    <p>Midlaner Dota 2 Malaysia Kam "Moon" Boon Seng telah berpisah dengan Team SMG setelah hampir dua tahun bergabung dengan organisasi tersebut.

                      SMG juga berpisah dengan pemain pendukung Wilson "poloson" Koh, yang dipinjamkan dari Invictus Gaming.
                      Penyesuaian lineup mengikuti penampilan buruk di ESL One Berlin Major 2023, di mana skuad berakhir di urutan 15-16.
                    <a href="https://www.ligagame.tv/dota-2/moon-dan-poloson-resmi-tinggalkan-team-smg-siapa-pengganti">baca selenkapnya..</a></p>
                  </div>
                </div>

                <div class="news">
                  <div class="news-content">
                    <h2>Blacklist International Rekrut Kpii Untuk DPC SEA Summer 2023</h2>
                    <p>Tanggal: 4 Juni 2023</p>
                    <p>Blacklist International mulai bergerak untuk memperbaiki roster Dota 2 setelah hasil kurang memuaskan pada debutnya di DPC SEA 2023. Organisasi mengumumkan Damien "kpii" Chok masuk sebagai offlaner baru menggantikan Nico "eyyou" Barcelon. Tim akan memindahkan Carlo "Kuku" Palad ke posisi 5, sedangkan Kpii akan bermain di posisi 3.
                      <a href="https://www.ligagame.tv/dota-2/blacklist-international-rekrut-kpii-untuk-dpc-sea-summer-2023">baca selengkapnya..</a>
                    </p>
                  </div>
                </div>

        </div>
        </div>
        </div>
      </section>
    </div>
  </body>
  <script src="{{url_for('static' , filename='js/script.js')}}"></script>

</html>
