<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/player.css')}}" />
    <title>Expanding Sidebar Navigation Example</title>
  </head>
  <body>
    <div class="container">
      {% include 'menu/sidebar.html' %}
      <section class="main">
        {% include 'menu/navbar.html' %}    
        <div class="main-content">
        <div class="player-menu">
            <h2>Player</h2>
            <div class="dropdown">
              <button class="dropdown-toggle" id="player-dropdown">Select Player</button>
              <div class="dropdown-content">
                <table>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>UID</th>
                    <th>Game Type</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Player 1</td>
                    <td>123456</td>
                    <td>Game A</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Player 2</td>
                    <td>789012</td>
                    <td>Game B</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Player 3</td>
                    <td>345678</td>
                    <td>Game C</td>
                  </tr>
                  <!-- Add more rows for additional players -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="{{url_for('static' , filename='js/script.js')}}"></script>

</html>
