<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/shop.css')}}" />
    <title>Expanding Sidebar Navigation Example</title>
  </head>
  <body>
    <div class="container">
      {% include 'menu/sidebar.html' %}
      <section class="main">
        {% include 'menu/navbar.html' %}    
        <div class="main-content">
            <h1>Rekomendasi Toko Online games terpecaya</h1>
            <div class="product-grid">
              <div class="product">
                <h2>codashop</h2>
                <p>Harga : 99$</p>
                <a href="https://www.codashop.com/id-id/">Buy Now</a>
              </div>
          
              <div class="product">
                <h2>Takapedia</h2>
                <p>Harga: 3$</p>
                <a href="https://takapedia.com/">Buy Now</a>
              </div>
              
              <div class="product">
                <h2>Unipin</h2>
                <p>Harga : 99$</p>
                <a href="https://unipin.com/">Buy Now</a>
              </div>

              <div class="product">
                <h2>Windah</h2>
                <p>Harga : 49$</p>
                <a href="https://windahtopupstore.com/">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>

              <div class="product">
                <h2></h2>
                <p>Harga : $</p>
                <a href="">Buy Now</a>
              </div>
              <!-- Tambahkan produk lainnya di sini -->
          
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="{{url_for('static' , filename='js/script.js')}}"></script>

</html>
