<aside class="sidebar">
  <ul class="menu-list">
    <li>
      <div class="menu-container">
        <button class="icon" id="menu">
          <img src="{{url_for('static' , filename='images/menu.svg')}}" alt="menu" />
        </button>
      </div>
    </li>
    <br>
    <li>
      <div id="nama"></div>
    </li>
    <br>
    <li>
      <button class="icon" id="dashboard">
        <img src="{{url_for('static' , filename='images/grid.svg')}}" alt="dashboard" />
      </button>
    </li>
    <li>
      <button class="icon" id="gamers">
        <img src="{{url_for('static' , filename='images/gamers.png')}}" alt="gamers" />
      </button>
    </li>
    <li>
      <button class="icon" id="game">
        <img src="{{url_for('static' , filename='images/games.png')}}" alt="game" />
      </button>
    </li>
    <li>
      <button class="icon" id="leaderboard">
        <img src="{{url_for('static' , filename='images/leaderboard.png')}}" alt="leaderboard" />
      </button>
    </li>
    <li>
      <button class="icon" id="news">
        <img src="{{url_for('static' , filename='images/news.png')}}" alt="news" />
      </button>
    </li>
    <li>
      <button class="icon" id="player">
        <img src="{{url_for('static' , filename='images/user.svg')}}" alt="player" />
      </button>
    </li>
    <li>
      <button class="icon" id="shop">
        <img src="{{url_for('static' , filename='images/shop.png')}}" alt="shop" />
      </button>
    </li>
    <li>
      <button class="icon" id="forum">
        <img src="{{url_for('static' , filename='images/chat.png')}}" alt="forum" />
      </button>
    </li>
    <li>
      <button class="icon" id="report">
        <img src="{{url_for('static' , filename='images/danger.png')}}" alt="report" />
      </button>
    </li>
    <li>
      <button class="icon" id="settings">
        <img src="{{url_for('static' , filename='images/settings.svg')}}" alt="settings" />
      </button>
    </li>
  </ul>
</aside>
